{{!--
Llevar a una nueva vista con el producto seleccionado con su descripción completa, detalles de precio, categoría, etc.
Además de un botón para agregar al carrito.
Contar con el botón de “agregar al carrito” directamente, sin necesidad de abrir una página adicional con los detalles
del producto.

--}}
<h1>
    Productos
</h1>
{{#each payload}}
<li>nombre:{{this.title}} / Precio: ${{this.price}} // Cantidad: {{this.stock}} </li>
{{/each}}