{{!-- lista de productos en tiempo real web socket --}}

<div>
    Lista de productos (eliminacion)
</div>
<form action="">
    <p>Formulario de  creacion de productos</p>
</form>

<script src="js/realTimeProducts.js"></script>