<h1>Restaurar contraseña</h1>

<form action="/api/session/restore-password" method="post">
    <label>Email: </label> <input type="email" name="email" /> <br/><br/>
    <button type="submit">Restaurar contraseña</button>
</form>