<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{!-- como necesito el socket para enviar las peticiones, como no estaba 100% seguro de por donde enviarla lo solicito al principio para tenerlo en todos los scripts no y no necesitar llamarlo en cada view, si solo lo viera necesario en uno lo dejaria en ese¿+ --}}
    {{{body}}}
</body>
</html>